<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All tests"	   >
<!--	<parameter name="Browser-name" value="firefox"/>
	<parameter name="driverStrategy" value="local"/>-->
	<test name="Final Task">
		<packages>
			<package name="by.issoft.training.tests.*"/>
		</packages>
	</test>
</suite>


